body {
  margin: 0;
}

.header {
  position: sticky;  /* from https://ant.design/components/layout#components-layout-demo-fixed */
}

.content {
  overflow: auto;  /* for scrolling */
}

.sider {
  height: calc(viewport height minus header height);
}

.footer {
}

img {
  width: 100%;
  padding: 0;
  margin:0;
}
